@page
@model VPTExtra.Pages.Manager.CreateEventModel
@{
}
everything is optional: if a manager only wants to dictate how many visitors are allowed then the systems generates the 
rest automatically based on that. the same goes for other options.
<form method="post">
    <div class="form-group">
        <label>Total amount of seats</label>
        <input type="number" class="form-control">
        <small class="form-text text-muted">**</small>
    </div>
    <div class="form-group">
        <label>Amount of parts (total)</label>
        <input type="number" class="form-control">
        <small class="form-text text-muted">Optional</small>
    </div>
    <div class="form-group">
        <label>Amount of rows (total)</label>
        <input type="number" class="form-control">
        <small class="form-text text-muted">Optional</small>
    </div>
    <button type="submit" asp-page-handler="GenerateEvent" class="btn btn-primary">Create event</button>
</form>