@page
@model VPTExtra.Pages.Manager.CreateEventModel
@{
}
everything is optional: if a manager only wants to dictate how many visitors are allowed then the systems generates the 
rest automatically based on that. the same goes for other options.
<form method="post">
    <div class="form-group">
        <label>Total amount of seats</label>
        <input type="number" id="VisitorLimit" name="_event.VisitorLimit" asp-for="_event.VisitorLimit" />
        <small class="form-text text-muted">**</small>
    </div>
    <div class="form-group">
        <label>Amount of parts (total)</label>
        <input type="number" id="AmountOfParts" name="AmountOfParts" asp-for="AmountOfParts" />
        <small class="form-text text-muted">Optional</small>
    </div>
    <div class="form-group">
        <label>Amount of rows (total)</label>
        <input type="number" id="AmountOfRows" name="AmountOfRows" asp-for="AmountOfRows" />
        <small class="form-text text-muted">Optional</small>
    </div>
    <div class="form-group">
        <label>Start date</label>
        <input type="date" id="StartDate" name="_event.StartDate" asp-for="_event.StartDate" />
        <small class="form-text text-muted">Required</small>
    </div>
    <div class="form-group">
        <label>End date</label>
        <input type="date" id="EndDate" name="_event.EndDate" asp-for="_event.EndDate" />
        <small class="form-text text-muted">Required</small>
    </div>
    <button type="submit" asp-page-handler="GenerateEvent" onclick="return confirm('Are you sure?')" class="btn btn-primary">Create event</button>
</form>