@page "/register"
@model VPTExtra.Pages.Account.RegistrationModel
@{
}
<br />
<br />
<br />
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<form method="post" asp-page-handler="Register">
    <div class="form-outline mb-4">
        <input class="form-control" required asp-for="@Model.userToRegister.Name">
        <label class="form-label" style="color:white;" for="form3Example1cg">Your Name</label>
    </div>

    <div class="form-outline mb-4">
        <input class="form-control" required type="email" asp-for="@Model.userToRegister.Email">
        <label class="form-label" style="color:white;" for="form3Example3cg">Your Email</label>
    </div>

    <div class="form-outline mb-4">
        <input class="form-control" required type="password" asp-for="@Model.userToRegister.Password">
        <label class="form-label" style="color:white;">Password</label>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" 
                class="btn btn-primary btn-block mb-4">
            Register
        </button>
    </div>

    <p style="color:white;" class="text-center mt-5 mb-0">
        Have already an account? <a asp-page="Login"
                                     style="color:lightblue;"><u>Login here</u></a>
    </p>
</form>